In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
%matplotlib inline 
from sklearn.preprocessing import LabelEncoder
from catboost import CatBoostClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from numpy import asarray
from numpy import mean
from numpy import std
from sklearn.metrics import classification_report
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,10-07-2016 00:00,21-09-2016 16:25,2.0,Brown Tabby,0.80,7.78,13,9,0,1
1,ANSL_66892,21-11-2013 00:00,27-12-2018 17:47,1.0,White,0.72,14.19,13,9,0,2
2,ANSL_69750,28-09-2014 00:00,19-10-2016 08:24,NaN,Brown,0.15,40.90,15,4,2,4
3,ANSL_71623,31-12-2016 00:00,25-01-2019 18:30,1.0,White,0.62,17.82,0,1,0,2
4,ANSL_57969,28-09-2017 00:00,19-11-2017 09:38,2.0,Black,0.50,11.06,18,4,0,1

In [4]:
test.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7

In [5]:
train['pet_category'].value_counts()

2    10621
1     7184
4      941
0       88
Name: pet_category, dtype: int64

In [6]:
train['breed_category'].value_counts()

0    9000
1    8357
2    1477
Name: breed_category, dtype: int64

In [7]:
train['condition'].value_counts()

1.0    6819
0.0    6281
2.0    4257
Name: condition, dtype: int64

In [8]:
test['condition'].value_counts()

1.0    2928
0.0    2685
2.0    1840
Name: condition, dtype: int64

In [9]:
train['condition'].unique()

array([ 2.,  1., nan,  0.])

In [10]:
train.isnull().sum()

pet_id               0
issue_date           0
listing_date         0
condition         1477
color_type           0
length(m)            0
height(cm)           0
X1                   0
X2                   0
breed_category       0
pet_category         0
dtype: int64

In [11]:
test.isnull().sum()

pet_id            0
issue_date        0
listing_date      0
condition       619
color_type        0
length(m)         0
height(cm)        0
X1                0
X2                0
dtype: int64

In [12]:
train['condition'].fillna(1.0, inplace=True)

In [13]:
test['condition'].fillna(1.0, inplace=True)

In [12]:
train.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,10-07-2016 00:00,21-09-2016 16:25,2.0,Brown Tabby,0.80,7.78,13,9,0,1
1,ANSL_66892,21-11-2013 00:00,27-12-2018 17:47,1.0,White,0.72,14.19,13,9,0,2
2,ANSL_69750,28-09-2014 00:00,19-10-2016 08:24,NaN,Brown,0.15,40.90,15,4,2,4
3,ANSL_71623,31-12-2016 00:00,25-01-2019 18:30,1.0,White,0.62,17.82,0,1,0,2
4,ANSL_57969,28-09-2017 00:00,19-11-2017 09:38,2.0,Black,0.50,11.06,18,4,0,1

In [13]:
train['color_type'].nunique()

56

In [14]:
train['color_number'] = LabelEncoder().fit_transform(train['color_type'])

In [15]:
train.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,color_number
0,ANSL_69903,10-07-2016 00:00,21-09-2016 16:25,2.0,Brown Tabby,0.80,7.78,13,9,0,1,18
1,ANSL_66892,21-11-2013 00:00,27-12-2018 17:47,1.0,White,0.72,14.19,13,9,0,2,53
2,ANSL_69750,28-09-2014 00:00,19-10-2016 08:24,NaN,Brown,0.15,40.90,15,4,2,4,15
3,ANSL_71623,31-12-2016 00:00,25-01-2019 18:30,1.0,White,0.62,17.82,0,1,0,2,53
4,ANSL_57969,28-09-2017 00:00,19-11-2017 09:38,2.0,Black,0.50,11.06,18,4,0,1,2

In [16]:
test['color_number'] = LabelEncoder().fit_transform(test['color_type'])

In [17]:
test.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,color_number
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7,2
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1,36
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7,2
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1,2
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7,14

In [18]:
train['height(m)']=train['height(cm)'].apply(lambda x:x*(.01))

In [19]:
test['height(m)']=test['height(cm)'].apply(lambda x:x*(.01))

In [20]:
train.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,color_number,height(m)
0,ANSL_69903,10-07-2016 00:00,21-09-2016 16:25,2.0,Brown Tabby,0.80,7.78,13,9,0,1,18,0.0778
1,ANSL_66892,21-11-2013 00:00,27-12-2018 17:47,1.0,White,0.72,14.19,13,9,0,2,53,0.1419
2,ANSL_69750,28-09-2014 00:00,19-10-2016 08:24,NaN,Brown,0.15,40.90,15,4,2,4,15,0.4090
3,ANSL_71623,31-12-2016 00:00,25-01-2019 18:30,1.0,White,0.62,17.82,0,1,0,2,53,0.1782
4,ANSL_57969,28-09-2017 00:00,19-11-2017 09:38,2.0,Black,0.50,11.06,18,4,0,1,2,0.1106

In [21]:
train['issue_date'] = pd.to_datetime(train['issue_date'])
train['listing_date'] = pd.to_datetime(train['listing_date'])
train['duration'] = (train['listing_date'] - train['issue_date']).dt.days

In [22]:
train.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,color_number,height(m),duration
0,ANSL_69903,2016-10-07,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0,1,18,0.0778,-16
1,ANSL_66892,2013-11-21,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0,2,53,0.1419,1862
2,ANSL_69750,2014-09-28,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2,4,15,0.4090,752
3,ANSL_71623,2016-12-31,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0,2,53,0.1782,755
4,ANSL_57969,2017-09-28,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0,1,2,0.1106,52

In [23]:
test['issue_date'] = pd.to_datetime(test['issue_date'])
test['listing_date'] = pd.to_datetime(test['listing_date'])
test['duration'] = (test['listing_date'] - test['issue_date']).dt.days

In [24]:
test.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,color_number,height(m),duration
0,ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7,2,0.4273,4404
1,ANSL_76663,2018-11-15,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1,36,0.0671,174
2,ANSL_58259,2012-10-11,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7,2,0.4121,1999
3,ANSL_67171,2015-02-13,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1,2,0.0846,1148
4,ANSL_72871,2017-01-18,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7,14,0.3092,463

In [25]:
X_train = train.drop(['pet_id','issue_date','listing_date','color_type','height(cm)','breed_category','pet_category'],axis=1)

In [26]:
X_train.head()

   condition  length(m)  X1  X2  color_number  height(m)  duration
0        2.0       0.80  13   9            18     0.0778       -16
1        1.0       0.72  13   9            53     0.1419      1862
2        NaN       0.15  15   4            15     0.4090       752
3        1.0       0.62   0   1            53     0.1782       755
4        2.0       0.50  18   4             2     0.1106        52

In [27]:
X_train.shape

(18834, 7)

In [28]:
Y = train['breed_category'].values

In [29]:
Y.shape

(18834,)

In [30]:
Z = train['pet_category'].values

In [31]:
Z.shape

(18834,)

In [64]:
trainX = train[['condition','length(m)','X1','X2','color_number','height(m)','duration','breed_category']]

In [65]:
trainX.head()

,condition,length(m),X1,X2,color_number,height(m),duration,breed_category
0,2.0,0.80,13,9,18,0.0778,-16,0
1,1.0,0.72,13,9,53,0.1419,1862,0
2,NaN,0.15,15,4,15,0.4090,752,2
3,1.0,0.62,0,1,53,0.1782,755,0
4,2.0,0.50,18,4,2,0.1106,52,0

In [33]:
test.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,color_number,height(m),duration
0,ANSL_75005,2005-08-17,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7,2,0.4273,4404
1,ANSL_76663,2018-11-15,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1,36,0.0671,174
2,ANSL_58259,2012-10-11,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7,2,0.4121,1999
3,ANSL_67171,2015-02-13,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1,2,0.0846,1148
4,ANSL_72871,2017-01-18,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7,14,0.3092,463

In [75]:
X_test = test.drop(['pet_id','issue_date','listing_date','color_type','height(cm)'],axis=1)

In [76]:
X_test.head()

   condition  length(m)  X1  X2  color_number  height(m)  duration
0        0.0       0.87   0   7             2     0.4273      4404
1        1.0       0.06   0   1            36     0.0671       174
2        1.0       0.24   0   7             2     0.4121      1999
3        1.0       0.29   7   1             2     0.0846      1148
4        1.0       0.71   0   7            14     0.3092       463

In [ ]:
test_X =

In [36]:
new_train, X_valid, y_train, y_valid = train_test_split(X_train, Y, train_size=0.8, test_size=0.2,
                                                                random_state=1)

In [37]:
model_1 = LGBMClassifier(learning_rate=0.01,
                            n_estimators=1000, 
                            objective = 'multi:softmax',
                            num_class=3,
                            nthread=1) 

cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model_1, new_train, y_train, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')

print('Accuracy: %.6f (%.6f)' % (mean(n_scores), std(n_scores)))

model_1.fit(new_train, y_train, early_stopping_rounds=5, 
             eval_set=[(X_valid, y_valid)], 
             verbose=False) 

model_1.score(new_train,y_train)

Accuracy: 0.900158 (0.007438)

0.9581203955664698

In [41]:
params_rs = {        
          
          "num_leaves" : [10,20,30,40,50,60,70,80,90,100,150,200],
          "max_depth": [1,2,3, 4, 5],
          
          }

In [42]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.model_selection import StratifiedKFold
folds = 5
param_comb = 5

skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)

random_search_1 = RandomizedSearchCV(model_1, 
                                   param_distributions=params_rs, 
                                   n_iter=param_comb, 
                                   n_jobs=4, 
                                   cv=skf.split(new_train,y_train),
                                   verbose=1,
                                   random_state=1001 )

In [43]:
random_search_1.fit(new_train,y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  25 out of  25 | elapsed:  1.7min finished

RandomizedSearchCV(cv=<generator object _BaseKFold.split at 0x000001DD3F4CA390>,
                   error_score='raise-deprecating',
                   estimator=LGBMClassifier(boosting_type='gbdt',
                                            class_weight=None,
                                            colsample_bytree=1.0,
                                            importance_type='split',
                                            learning_rate=0.01, max_depth=-1,
                                            min_child_samples=20,
                                            min_child_weight=0.001,
                                            min_split_gain=0.0,
                                            n_estimators=1000, n_jobs=-1,
                                            nthread=1,...
                                            objective='multi:softmax',
                                            random_state=None, reg_alpha=0.0,
                                            reg_lambda=0.0, silent=True,
                                            subsample=1.0,
                                            subsample_for_bin=200000,
                                            subsample_freq=0),
                   iid='warn', n_iter=5, n_jobs=4,
                   param_distributions={'max_depth': [1, 2, 3, 4, 5],
                                        'num_leaves': [10, 20, 30, 40, 50, 60,
                                                       70, 80, 90, 100, 150,
                                                       200]},
                   pre_dispatch='2*n_jobs', random_state=1001, refit=True,
                   return_train_score=False, scoring=None, verbose=1)

In [46]:
predictions = model_1.predict(X_valid) 
print(classification_report(y_valid, predictions))

mae_1 = mean_absolute_error(predictions,y_valid) 

print("Mean Absolute Error:" , mae_1)

              precision    recall  f1-score   support

           0       0.86      0.91      0.89      1773
           1       0.90      0.85      0.88      1693
           2       1.00      1.00      1.00       301

    accuracy                           0.89      3767
   macro avg       0.92      0.92      0.92      3767
weighted avg       0.89      0.89      0.89      3767

Mean Absolute Error: 0.10857446243695248

In [51]:
pred_1 = model_1.predict(X_test)
pred_1 = np.array(pred_1).flatten()
pred_1[:10]

array([1, 0, 0, 0, 0, 1, 1, 1, 0, 1], dtype=int64)

In [78]:
result = pd.concat([test['pet_id'],pd.Series(pred_1)],axis=1)
result.columns = ['pet_id','breed_category']
result['breed_category'].value_counts()

0    3909
1    3544
2     619
Name: breed_category, dtype: int64

In [79]:
X_test['breed_category'] = pred_1

In [80]:
X_test.head()

,condition,length(m),X1,X2,color_number,height(m),duration,breed_category
0,0.0,0.87,0,7,2,0.4273,4404,1
1,1.0,0.06,0,1,36,0.0671,174,0
2,1.0,0.24,0,7,2,0.4121,1999,0
3,1.0,0.29,7,1,2,0.0846,1148,0
4,1.0,0.71,0,7,14,0.3092,463,0

# MODEL_2

In [81]:
trainX.shape,Z.shape,X_test.shape

((18834, 8), (18834,), (8072, 8))

In [66]:
train_new, validX, train_y, validy = train_test_split(trainX, Z, train_size=0.8, test_size=0.2,
                                                                random_state=1)

In [67]:
model_2 = LGBMClassifier(learning_rate=0.01,
                            n_estimators=600, 
                            objective = 'multi:softmax',
                            num_class=4,
                            nthread=1)

cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model_2, train_new, train_y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')

print('Accuracy: %.6f (%.6f)' % (mean(n_scores), std(n_scores)))

model_2.fit(train_new, train_y, early_stopping_rounds=5, 
             eval_set=[(validX, validy)], 
             verbose=False) 

model_2.score(train_new,train_y)

Accuracy: 0.891995 (0.006292)

0.9086082166323753

In [69]:
params_rs = {        
          
          "num_leaves" : [10,20,30,40,50,60,70,80,90,100,150,200],
          "max_depth": [1,2,3, 4, 5],
          
          }

In [70]:
folds = 5
param_comb = 5

skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 100)

random_search_2 = RandomizedSearchCV(model_2, 
                                   param_distributions=params_rs,
                                   n_iter=param_comb, 
                                   n_jobs=4, 
                                   cv=skf.split(train_new,train_y), 
                                   verbose=1, 
                                   random_state=1001 )

In [71]:
random_search_2.fit(train_new,train_y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  25 out of  25 | elapsed:  1.4min finished

RandomizedSearchCV(cv=<generator object _BaseKFold.split at 0x000001E0C06D20C0>,
                   error_score='raise-deprecating',
                   estimator=LGBMClassifier(boosting_type='gbdt',
                                            class_weight=None,
                                            colsample_bytree=1.0,
                                            importance_type='split',
                                            learning_rate=0.01, max_depth=-1,
                                            min_child_samples=20,
                                            min_child_weight=0.001,
                                            min_split_gain=0.0,
                                            n_estimators=600, n_jobs=-1,
                                            nthread=1, n...
                                            objective='multi:softmax',
                                            random_state=None, reg_alpha=0.0,
                                            reg_lambda=0.0, silent=True,
                                            subsample=1.0,
                                            subsample_for_bin=200000,
                                            subsample_freq=0),
                   iid='warn', n_iter=5, n_jobs=4,
                   param_distributions={'max_depth': [1, 2, 3, 4, 5],
                                        'num_leaves': [10, 20, 30, 40, 50, 60,
                                                       70, 80, 90, 100, 150,
                                                       200]},
                   pre_dispatch='2*n_jobs', random_state=1001, refit=True,
                   return_train_score=False, scoring=None, verbose=1)

In [72]:
prediction = random_search_2.predict(validX)

print(classification_report(validy, prediction))

mae_2 = mean_absolute_error(prediction,validy) 

print("Mean Absolute Error:" , mae_2)

              precision    recall  f1-score   support

           0       0.83      0.50      0.62        20
           1       0.89      0.82      0.86      1439
           2       0.88      0.94      0.90      2122
           4       0.89      0.77      0.83       186

    accuracy                           0.88      3767
   macro avg       0.87      0.76      0.80      3767
weighted avg       0.88      0.88      0.88      3767

Mean Absolute Error: 0.14202282983806744

In [82]:
pred_2 = random_search_2.predict(X_test)
pred_2 = np.array(pred_2).flatten()
pred_2[-5:]

array([2, 2, 2, 4, 2], dtype=int64)

In [84]:
result = pd.concat([test['pet_id'],pd.Series(pred_2)],axis=1)
result.columns = ['pet_id','pet_category']
result['pet_category'].value_counts()

2    4112
1    3623
4     334
0       3
Name: pet_category, dtype: int64

In [83]:
results_df = pd.DataFrame(data={'pet_id':test['pet_id'], 'breed_category':pred_1,'pet_category':pred_2})
results_df.to_csv('sub.csv', index=False)